
    <div class="clr-form-control">
        <label class="clr-control-label">
            {{controlConfig.label}}
            <span class="required-text" *ngIf="inputService.isRequired(controlConfig)">(*)</span>
        </label>
        <div class="clr-control-container">
            <div class="clr-input-wrapper">
                <input class="clr-input" type="number" [placeholder]="isDefined(controlConfig?.placeholder)"
                    [formControl]="_control" />
            </div>
    
            <clr-control-error class="field-has-error" *ngIf="control?.touched && control?.errors?.['required']">
                Ce champs est requis
            </clr-control-error>
            <clr-control-error class="field-has-error" *ngIf="control?.touched && control?.errors?.['min']">
                minimum {{control.errors?.['min']?.['min']}}
            </clr-control-error>
            <clr-control-error class="field-has-error" *ngIf="control?.touched && control?.errors?.['max']">
                maximum {{control.errors?.['max']?.['max']}}
            </clr-control-error>
            <clr-control-error class="field-has-error" *ngIf="control?.touched && control?.errors?.['minlength']">
                minimum {{control.errors?.['minlength']?.['requiredLength']}} caractères
            </clr-control-error>
            <clr-control-error class="field-has-error" *ngIf="control?.touched && control?.errors?.['maxlength']">
                maximum {{control.errors?.['maxlength']?.['requiredLength']}} caractères
            </clr-control-error>
            <clr-control-error class="field-has-error" *ngIf="control?.touched && control?.errors?.['pattern']">
                Champs invalide
            </clr-control-error>
        </div>
    </div>