div {
    border-radius: var(--clr-table-border-radius, 0.15rem);
    border: 0.5px solid var(--clr-header-4-bg-color);
    padding-left: 0.5rem;
    background-color: #fff;
    margin-bottom: 10px;
}