<clr-textarea-container>
    <label>
        {{controlConfig.label}}
        <span class="required-text" *ngIf="inputService.isRequired(controlConfig)">(*)</span>
    </label>
    <textarea clrTextarea [formControl]="_control" [placeholder]="isDefined(controlConfig?.placeholder)"></textarea>
    <clr-control-error class="field-has-error" *ngIf="_control?.touched && _control?.errors?.['required']">
        Ce champs est requis
    </clr-control-error>
    <clr-control-error class="field-has-error" *ngIf="_control?.touched && _control?.errors?.['minlength']">
        minimum {{control.errors?.['minlength']?.['requiredLength']}} caractères
    </clr-control-error>
    <clr-control-error class="field-has-error" *ngIf="_control?.touched && _control?.errors?.['maxlength']">
        maximum {{control.errors?.['maxlength']?.['requiredLength']}} caractères
    </clr-control-error>
    <clr-control-error class="field-has-error" *ngIf="_control?.touched && _control?.errors?.['pattern']">
        Champs invalide
    </clr-control-error>
</clr-textarea-container>