
      <clr-password-container>
          <label>
              {{controlConfig.label}}
              <span class="required-text" *ngIf="inputService.isRequired(controlConfig)">(*)</span>
            </label>
          <input [placeholder]="isDefined(controlConfig?.placeholder)" clrPassword [formControl]="_control"  />
          <clr-control-error class="field-has-error" *ngIf="control?.touched && control?.errors?.['required']">
              Ce champs est requis
          </clr-control-error>
          <clr-control-error class="field-has-error" *ngIf="control?.touched && control?.errors?.['minlength']">
              minimum {{control.errors?.['minlength']?.['requiredLength']}} caractères
          </clr-control-error>
          <clr-control-error class="field-has-error" *ngIf="control?.touched && control?.errors?.['maxlength']">
              maximum {{control.errors?.['maxlength']?.['requiredLength']}} caractères
          </clr-control-error>
          <clr-control-error class="field-has-error" *ngIf="control?.touched && control?.errors?.['pattern']">
              Champs invalide
          </clr-control-error>
        </clr-password-container>
  <!-- <div [class]="inputService.getClass(controlConfig.containerClass)">

  </div> -->