.cs-footer {
    background-color: var(--clr-header-6-bg-color, #00364d);
    padding: 0.1rem;
    color: #ffffff;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
}

.cs-footer .clr-row {
    margin: 0 0.01rem;
}